/* COLOUR PALETTE:

GAME AREA: #A7AF5F
BODY: rgb(117, 150, 64) / #759640 
*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(117, 150, 64);
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 10;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 44px;
}

/* GAMEPLAY AREA CSS */

.game-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.grid-wrapper {
  /* height: 100vh; Commented out as it pushes grid too low down the page but don't remove yet */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.grid {
  background-color: rgb(167, 175, 95); 
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  border-radius: 8px;
}

.grid-div {
  border: 1px solid rgb(207, 206, 137);
  flex-grow: 1;
  height: 10%;
  width: 10%;
  /* border-radius: 60px; */
}

/* NINJA CHARACTER */
.grid-div.ninja {
  background-image: url('../Ninja/ninja_one_up.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.ninja-down {
  background-image: url('../Ninja/ninja_down.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* HOT SAUCE */
.grid-div.hotsauce {
  background-image: url('../Ninja/hotsauce.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* FOODS CHARACTERS */
.grid-div.drumstickOdd {
  background-image: url('../Food/drumstick_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.drumstickEven {
  background-image: url('../Food/drumstick_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.eggOdd {
  background-image: url('../Food/egg_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.eggEven {
  background-image: url('../Food/egg_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.friesOdd {
  background-image: url('../Food/fries_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.friesEven {
  background-image: url('../Food/fries_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.pizzaOdd {
  background-image: url('../Food/pizza_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.pizzaEven {
  background-image: url('../Food/pizza_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* FORK */
.grid-div.fork {
  background-image: url('../Food/fork.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* LEFT SIDE SECTION | PLAYER INFO CSS */

aside.current-game {
  height: 600px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 2%;
  align-items: center;
}

.current-score {
  display: flex;
  flex-direction: column;
}

.display-current-score {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 40px;
  width: 150px;
}

.display-player-name {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 150px;
}

/* RIGHT SIDE SECTION | SCORE BOARD CSS */

aside.score-board {
  height: 600px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 5%;
  align-items: center;
}

.points-left-to-beat-best-score {
  display: flex;
  flex-direction: column;
}

.display-points-left {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 40px;
  width: 150px;
}

.display-best-scores {
  display: flex;
  height: 100px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
}

