/*todo=========== OVERALL BODY =========== */
* {
  box-sizing: border-box;
}

body {
  background-color:rgb(0, 0, 0); 
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 10;
  /* display: flex; */
}

.title {
  font-family: 'Metal Mania', cursive;
  font-size: 48px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
}

/*todo=========== WELCOME TO THE GAME DIV ===========*/
.welcome-div {
  background-color:rgb(0, 0, 0); 
  background-image: url('../Background/Bamboo_landing.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  min-height: 900px;
  background-position: center;
  width: 100%;
  margin: 0;
  z-index: 2;
  position: absolute;
  margin-top: 0px;
}

.hidden {
  display: none;
}

.welcome-text {
  margin-top: 10%;
  margin-left: 250px;
  font-size: 35px;
  color: white;
  text-shadow: 0px 3px #292727;
}

.welcome-logo {
  font-family: 'Metal Mania', cursive;
  font-size: 48px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  padding-left: 20px;
  margin: 50px 0px 70px 250px;
}

#controls-info {
  margin-left: 250px;
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px #292727;
}

#input-player-name {
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 200px;
  margin-left: 250px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 20px;
}

button {
  margin-top: 20px;
  margin-left: 250px;
  margin-bottom: 10%;
  height: 80px;
  width: 200px;
  background-color: #242625;
  box-shadow: 2px 2px 7px 1px rgba(255,0,0,0.8);
  border-radius: 4px;
  font-size: 40px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  font-family: 'Metal Mania', cursive;
}

/*todo=========== GAME OVER DIV =========== */
.game-over {
  background-color:rgb(0, 0, 0); 
  background-image: url('../Background/Bamboo_end.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  min-height: 400px;
  background-position: center;
  width: 100%;
  margin: 0;
  z-index: 1;
  text-align: left;
}

#game-over-title {
  padding-top: 120px;
  margin-left: 270px;
  font-family: 'Metal Mania', cursive;
  font-size: 48px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
}

.game-over-text {
  padding-bottom: 30px;
  margin-left: 80px;
  font-size: 35px;
  color: white;
  text-shadow: 0px 3px #292727;
}

#game-over-info {
  margin-left: 275px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px #292727;
}


div.game-over > div.display-current-score {
  background-color: rgba(255, 255, 255, 0.2);
  height: 32px;
  width: 150px;
  margin-left: 275px;
  font-size: 28px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
}

div.game-over > div.display-lives-left {
  background-color: rgba(255, 255, 255, 0.2);
  height: 32px;
  width: 150px;
  margin-left: 275px;
  font-size: 28px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
  padding-left: 65px;
}

#new-start-button {
  margin-top: 50px;
}

div.game-over > p {
  color: rgba(255, 255, 255, 0.2);
  text-align: right;
  font-weight: lighter;
  text-indent: 3px;
  padding-right: 10px;
  text-shadow: 0px 1px #292727;
}

/*todo=========== GAMEPLAY AREA CSS ===========*/

.parent {
  display: flex;
  flex-direction: row;
}

.left-empty {
  flex-grow: 1;
}

.right-empty {
  flex-grow: 1;
}

.game-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('../Background/background_final.png');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 0;
  padding-bottom: 120px;
  padding-top: 80px;
  flex-grow: 10;
  max-height: 1050;
}

.grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.grid {
  /* box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  border-radius: 8px;
}

.grid-div {
  /* border: 1px solid rgb(207, 206, 137); */
  flex-grow: 1;
  height: 10%;
  width: 10%;
  /* border-radius: 60px; */
}

/*todo=========== NINJA CHARACTER ===========*/
.grid-div.ninja {
  background-image: url('../Ninja/eyeninja_left.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.ninja-down {
  background-image: url('../Ninja/eyeninja_back.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/*todo=========== HOT SAUCE ===========*/
.grid-div.hotsauce {
  background-image: url('../Ninja/hotsauce.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/*todo=========== FOODS CHARACTERS ===========*/
.grid-div.drumstickOdd {
  background-image: url('../Food/drumstick_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.drumstickEven {
  background-image: url('../Food/drumstick_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.eggOdd {
  background-image: url('../Food/egg_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.eggEven {
  background-image: url('../Food/egg_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.friesOdd {
  background-image: url('../Food/fries_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.friesEven {
  background-image: url('../Food/fries_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.pizzaOdd {
  background-image: url('../Food/pizza_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-div.pizzaEven {
  background-image: url('../Food/pizza_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/*todo=========== FORK ===========*/
.grid-div.fork {
  background-image: url('../Food/fork.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/*todo====== LEFT SIDE SECTION | PLAYER INFO CSS ======*/

aside.current-game {
  height: 600px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 2%;
  align-items: center;
}

.current-score {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  color: white;
  text-shadow: 0px 3px #292727;
}

div.game-wrapper > aside.score-board > div.current-score > div {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 30px;
  width: 150px;
  font-size: 25px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
  padding-left: 65px;
}

.display-player-name {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 150px;
  font-size: 25px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
}

.display-lives-left {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 30px;
  width: 150px;
  font-size: 25px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
  padding-left: 65px;
}

/*todo====== RIGHT SIDE SECTION | SCORE BOARD CSS ======*/

aside.score-board {
  height: 600px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 5%;
  align-items: center;
}

.points-left-until-max-score {
  display: flex;
  flex-direction: column;
}

.display-points-left {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 30px;
  width: 150px;
  font-size: 25px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
  padding-left: 45px;
}

.display-best-scores {
  display: flex;
  height: 100px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 150px;
  font-size: 25px;
  color: rgb(232, 241, 204);
  text-shadow: 0px 3px #ff0000;
  text-align: center;
  font-weight: bold;
  padding-left: 40px;
}

